* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Thintel';
    src: url('../assets/fonts/Thintel.ttf');
    font-weight: 400;
    font-weight: normal;
}

body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    font-family: 'Thintel', sans-serif;
}